# 此仓库是用于windows下的IntellijIdea，以IntelliIIdea13为基础，.git目录应该放置在C:\Users\用户名\.IntelliJIdea13\config\

colors
componentVersions
idea13.key
port
plugins
quicklists
tasks
VSS

options/abbreviations.xml
options/appComponentVersions.xml
options/colors.scheme.xml
options/eclipseCodeFormatter.xml
options/feature.usage.statistics.xml
#options/filetypes.xml
options/images.support.xml
options/jdk.table.xml
options/mavenServices.xml
options/options.xml
options/other.xml
options/path.macros.xml
options/plugin_ui.xml
options/runner.layout.xml
options/security.xml
options/statistics.application.usages.xml
options/stubIndex.xml
options/vcs.xml
options/web-browsers.xml
options/webServers.xml
options/window.manager.xml
